<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{shown_pet.name}}</title>
</head>
<body>
    <h1>{{shown_pet.name}} details</h1>
    <ul>
        <li>Name: {{shown_pet.name}}</li>
        <li>Species: {{shown_pet.species}}</li>
        <li>Hunger: {{shown_pet.hunger}}</li>
    </ul>
    <p>{{shown_pet.greet()}}</p>
    <a href="/">go back</a>
</body>

</html>